.play-button {
  @include flexRowCenter;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 4/1;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  mask: url("../assets//images/BattleshipX.svg") no-repeat 50% 50%;
  -webkit-mask: url("../assets/images/BattleshipX.svg") no-repeat 50% 50%;
  mask-size: 100%;
  -webkit-mask-size: 100%;
}
.play-button:after {
  @include pseudoOverlay;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease;
  transition-duration: 0.3s;
}
.play-button:hover:after,
.play-button:focus:after {
  transition-duration: 2s;
  box-shadow: 0px 20px 15px 22px $transparent-shadow-color;
}
.play-button .text-play-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  font-size: min(calc(0.5rem + 0.5vw), 0.95rem);
  letter-spacing: 3px;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
  transition: color 0.8s ease;
}
.play-button:hover .text-play-button,
.play-button:focus .text-play-button {
  color: black;
}
.play-button:before {
  @include pseudoUnderlay;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 0;
  background-color: $main-color;
  transform: translate(-50%, -50%);
  transition: width 0.8s ease;
}
.play-button:hover:before,
.play-button:focus:before {
  width: 100%;
}
