#app.setup {
  display: block;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
  .setup-container {
    display: flex;
    justify-content: center;
    max-width: 680px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-columns: 1fr 10%;
    gap: 1rem;
  }
  .board-fleet-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  .reset-continue-section {
    display: flex;
    justify-content: center;
    gap: min(10%, 2rem);
    max-width: 680px;
    margin: 0.5rem auto;
    padding: 1rem;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
  }
}
